/* Overall Styling */

* {
    background-color: #465F3D;
}

/* Flex Properties */

.main-header,
.main-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-footer {
    padding: 2em 0
}

/* Image Styling */

.image_main {
    max-height: 90vh;

}

.image_supp {
    max-height: 70vh;
}

